

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* shared styles */

/* added animation */
@keyframes wave-on{
    0%{
        background-position: 0%;
    }

    50%{
        background-position: 50%;
    }

    100%{
        background-position: 100%;
    }
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

    background-size: 300%;
    animation: wave-on 3s infinite linear;

}

.primary-btn{
    background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 10000px;
    font-size: 16px;
    font-weight:600;
    line-height: 19px;
    color: white;
    padding: 12px 16px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    gap: 4px;

    background-size: 300%;
    animation: wave-on 3s infinite linear;
}


/* main styles */

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12.5rem;
}

nav .logo{
    font-size:1.5rem;
    line-height: 2rem;
    font-weight: 700;
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
}

nav .hamburger-menu{
    display: none;
}

/* banner section */
#banner{
    background-image: url("../assets/hero-bg.png");
    height: 47.5rem;
    background-size: cover;
    background-position: center 30%;
    padding: 6.25rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-set{
    position: relative;
}

.banner-set>img{
    max-width: 25rem;
    height: 25rem;
}

.banner-set .mic{
    position: absolute;
    width: 20rem;
    height: 20rem;
    padding: 12px 10px;
    top: 22%;
    left: 11%;
}

.banner-set .float-new{
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;

    position: absolute;
    top: 10%;
    left: 80%;
}

.banner-content{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-content .banner-title h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content .banner-title p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.banner-content .banner-buttons{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.banner-buttons .transparent-btn{
    border-radius: 10000px;
    border-color: #00FF88;
    background-color: transparent;
    font-size: 16px;
    font-weight:600;
    color: #00FF88;
    padding: 12px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    gap: 8px;
}

/* about section */
#About-container{
    padding: 3.125rem 12.5rem 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#About-container .about-content{
    margin-bottom: 5rem;
}

#About-container .about-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

#About-container .about-content p,
.about-cards .ab-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);

}

#About-container .about-cards{
    padding: 5rem 0 7.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.about-cards .ab-card h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem; 

}

/* Choose TechWave section */
#Choose-container{
    padding: 7.5rem 12.5rem; 
    background-color: #230E3D; 
}

#Choose-container>h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

#Choose-container .choose-grid-set{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.choose-grid-set .c-grid-frame{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    padding: 2.5rem;
    max-width: 100%;
}


.choose-grid-set .c-grid-frame img{
    max-width: 3.75rem;
}


.choose-grid-set .c-grid-frame h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.choose-grid-set .c-grid-frame p,
.grid-episode .ep-content p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
}

.choose-grid-set .row-double{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-grid-set .col-double{
    grid-column: span 2;
}


/* Featured section */
#Featured-container{
    padding: 7.5rem 12.5rem; 

    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    align-items: center;
}

#Featured-container .episodes>h1, 
#Featured-container .meet-host>h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.5rem;

}

.episodes .featured-grid-set{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.episodes .featured-grid-set .grid-episode{
    background-color: #250D44;
    /* max-width: 23.75rem; */
    border-radius: 24px;
    overflow: hidden;
}

.grid-episode .ep-content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grid-episode .ep-content h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.grid-episode .ep-content .min-count{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #00FF88;

    display: flex;
    gap: 6px;
    align-items: center;
}


#Featured-container .meet-host .host{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 2.5rem;
    max-width: 75rem;

    display: flex;
    gap: 1.5rem;
}

.meet-host .host .host-img{
    width: 12.5rem;
    height: 12.5rem;
}

.meet-host .host .host-content h1{
    font-size: 2rem;
    font-weight: 700;
}

.meet-host .host .host-content p{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.6rem;
    color: rgba(255, 255, 255, 0.6);
}

.meet-host .host .host-content .host-social{
    display: flex;
    gap: 0.5rem;
}

.host-content .host-social .host-icon{
    border: 1px solid #533C72;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
}

.host-icon img{
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    left: 25%;
    top: 20%;
}

/* Footer */
footer{
    background-image: url("../assets/footer-bg.png");
    height: 25.75rem;
    background-size: cover;
    background-position: center;
    padding: 7.5rem;
}

footer .footer-container{
    /* padding: 7.5rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.footer-container .footer-logo{
    font-size:2.8rem;
    line-height: 3.75rem;
    font-weight: 700;
}

.footer-container .socials{
    display: flex;
    gap: 40px;
}

.footer-container .socials .social-set{
    display: flex;
    gap: 8px;
}

.footer-container .socials .social-set p{
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.6);
}

.footer-container .copyright p{
    font-size: 1rem;
    line-height: 1.5rem;
    color:rgba(250, 250, 250, 0.6)
}


/* Responsive media query */

/* small size device */
@media screen and (max-width:576px) {

    /* navbar */
    nav .menu, nav .primary-btn{
        display: none;
    }

    nav .hamburger-menu{
        display: inline;
        margin-right: 10px;
    }

    nav{
       padding: 1rem 1.25rem;
       justify-content: space-between;
    }

    /* banner section */
    #banner{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center 30%;
    padding: 2.5rem 1.25rem;
    }

    .banner-set>img{
        max-width: 16rem;
        height: 16rem;
    }

    .banner-set .mic>img{
        position: absolute;
        width: 6rem;
        height: 8rem;
        padding: 6px 5px;
        right: 53%;
        top: 4%;
        
    }

    /* about section */
    #About-container{
        padding: 0.5rem 1.25rem 2.5rem;
    }

    #About-container .about-content{
        margin-bottom: 2.5rem;
    }

    #About-container .about-content h1{
        font-size: 2rem;

    }

    #About-container .about-content p{
        line-height: 1.25rem;
    }

    #About-container .about-content p br{
        display: none;
    }

    #About-container .about-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2.5rem;
        column-gap: 2.5rem;
        padding: 2.5rem 0 0 0;
    }

    /* Choose TechWave section */
    #Choose-container{
        padding: 2.5rem 1.25rem;  
    }

    #Choose-container>h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #Choose-container .choose-grid-set{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }

    /* Featured section */
    #Featured-container{
        padding: 2.5rem 1.25rem; 
        gap: 3.75rem;
    }

    #Featured-container .episodes>h1, 
    #Featured-container .meet-host>h1{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .episodes .featured-grid-set{
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
    }

    .grid-episode iframe{
        height: 225px;
    }

    .grid-episode .ep-content{
        padding: 1rem;
        gap: 8px;
    }

    .grid-episode .ep-content h3{
        font-size: 1.25rem;
    }

    #Featured-container .meet-host .host{
        border-radius: 24px;
        padding: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .meet-host .host .host-img{
        width: 9.5rem;
        height: 9.5rem;
    }

    .meet-host .host .host-img>img{
        width: 9.5rem;
        height: 9.5rem;
    }

    .meet-host .host .host-content{
        text-align: center;
    }

    .meet-host .host .host-content h1{
        font-size: 1.5rem;
    }

    .meet-host .host .host-content .host-social{
        justify-content: center;
    }

    /* footer section */
    footer{
        height: 15.5rem;
        padding: 2.5rem 1.25rem;
    }

    footer .footer-container{
        gap: 1.5rem;
    }

    .footer-container .footer-logo{
        font-size:1.5rem;
        line-height: 2rem;
    }

    .footer-container .socials{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 0px;
        row-gap: 16px;
        /* align-items: center;
        justify-items: start; */
    }

    .footer-container .socials .ap{
        margin-left: -17px;
    }

    .footer-container .socials .yt{
        margin-left: 17px;
    }


}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){

    /* navbar */
    nav{
       padding: 1rem 1.25rem;
       justify-content: space-between;
    }

    /* about section */
    #About-container{
        padding: 2.5rem 1.25rem;
    }

    #About-container .about-content p br{
        display: none;
    }

    #About-container .about-cards{
        column-gap: 2.5rem;
        padding: 2.5rem 0  2.5rem;
    }

    /* Choose TechWave section */
    #Choose-container{
        padding: 5rem 1.25rem;  
    }

    /* Featured section */
    #Featured-container{
        padding: 3rem 3rem; 
        gap: 4rem;
    }

    .episodes .featured-grid-set{
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }

    .grid-episode iframe{
        height: 240px;
    }

    .grid-episode .ep-content{
        gap: 16px;
    }

    /* footer section */
    footer{
        padding: 7.5rem 2rem;
    }


    .footer-container .footer-logo{
        font-size:2.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

}